img{
    margin-top: 80px;
    border-radius: 100px;
    
}

.two{
   text-align: center;
   margin-top: 100px;
   color: brown;
}
.three{ height: 1px;
 
  
  background-color: brown;
}
.four{
    color: brown;
}

.five{
    color: brown;
}

.six{
     color: brown;
}